extends ../layout

block content
  //- main  
  div#header
    h1 
      a(href='/') The Zine
  div.form 
    form(action='/article/' + articles._id + '/edit' method='post')
      div.form
        label(for='title') Title
        input#title(type='text' name='title' value=(articles.title))
      div.form
        label(for='url') Url
        input#url(type='text' name='url' value=(articles.url))
      div.form
        input#textcolor(type="checkbox" name='textcolor' value=(articles.textcolor))
        label(for='textcolor') Background Image has Dark Colors  
      div.form
        label(for='excerpt') Excerpt
        textarea#excerpt(type='text' name='excerpt' )= articles.excerpt
      div.form
        label(for='body') Body
        textarea#body(name='body' value=(articles.body))= articles.body
      div.button
        button(type='submit') Edit
    form(action='/'+ articles._id method='post')
      input.button(type='submit' value='delete')
